body{
    background-color: rgb(55, 24, 83);
    padding: 0;
    margin: 0;
}

#cabecera{
    background-color: rgb(37, 0, 51);
    padding: 50px;
}
#Tit-Eva01{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    color: greenyellow;
    margin: 10px auto;
    text-align: center;
}

.Eva01{
    width: 50%;
    
}

#Text-Eva01{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: greenyellow;
}

footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: greenyellow;
    text-align: center;
}

#main{
    padding: 0;
    margin: 0;
}

#div1{
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
#div2{
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
#boton-cambio{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1rem;
    width: 10%;
    border: none;
    cursor: pointer;
    color: greenyellow;
    background-color: rgb(185, 109, 255);
}
#div3{
    margin: 100px auto;
    text-align: center;
}